@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:rgb(79, 148, 244);
    --cor2:#2669c1;
    --cor3:#1E60B6;
    --cor4:#2E578B;
    --cor5:#304561;

    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: normal 3em serif;
    --fonte3: bold 1em arial;
    --fonte4: bold 1.5em Arial;
    --fonte5: bold 2em courier;

    --tam1: 50vh;
}

body{
    background-color: var(--cor5);
}
#icone_tec{
    width: 50px;
}
.botoes{
    padding: 15px;
    border: 0px;
    border-radius: 30px;
    font: var(--fonte3);
    background-color: var(--cor1);
    color: white;
}
.centro{
    text-align: center;
}
.imagem{
    background-color: white;
}
.conteiner{
    margin: auto;
    max-width: 900px;
}

/*Cabeçalho*/

header{
    background-color: white;
    font-family: var(--fonte1);
    color: var(--cor5);
}

/*Principal*/

main{
    background-color: white;
    margin-top: 10px;
}
section{
    text-align: justify;
    padding: 40px 10px;
    min-height: var(--tam1);
}
section  h2{
    font: var(--fonte2);
    text-align: left;
    padding-bottom: 20px;
}
ul{
    padding: 10px;
    
}

/*Sobre Tecmit e Projetos*/
aside{
    color: white;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.748) , rgba(123, 0, 255, 0.696), var(--cor1), rgb(33, 222, 255));
    text-align: center;
    min-height: var(--tam1);
}
aside h2{
    font: var(--fonte5);
    padding: 10px 0px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.367);
}
aside p{
    text-align: justify;
    padding: 10px;
    background-color: var(--cor2);
    display: inline-block;
    width: 300px;

}

/*Artigo ou frase*/
article{
    height: 40vh;
    text-align: center;
    padding: 35px;
    font: var(--fonte4);
    line-height: 40px;
}
article p{
    font: 2vw;
}

/*Rodapé*/

footer{
    color: white;
    background-color: var(--cor5);
    padding: 5px;
    font: normal 1em verdana, helvetica, sans-serif;
    text-align: center;
}
footer p{
    line-height: 70px;
}
footer a{
    color: white;
}