@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1:rgb(79, 148, 244);
    --cor2:#2669c1;
    --cor3:#1E60B6;
    --cor4:#2E578B;
    --cor5:#304561;

    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: normal 3em serif;
    --fonte3: bold 1em arial;
    --fonte4: bold 1.5em Arial;
    --fonte5: bold 2em courier;

    --tam1: 500px;
}

body{
    background-color: var(--cor5);
    position: relative;
}

#icone_tec{
    width: 50px;
    position: absolute;
    right: 15%;
    top: 5px;
}
.botoes{
    padding: 15px;
    border: 0px;
    border-radius: 30px;
    font: var(--fonte3);
    background-color: var(--cor1);
    color: white;
}
.botoes:hover{
    background-color: var(--cor2);
}
.botoes:active{
    background-color: var(--cor5);
}
.destaque{
    font-family: arial;
    font-size: 1.5em;
    color: var(--cor5);
    display: block;
    text-align: left;
}
.centro{
    text-align: center;
}
.conteiner{
    margin: auto;
    max-width: 900px;
}
#tecmit_blue{
    background-color: #004AAD;
}



/*Cabeçalho*/

header{
    background-color: var(--cor5);
    font-family: var(--fonte1);
    background-color: white;
    padding: 20px;
}

header h1{
    font: var(--fonte2);
    text-align: left;
    padding-bottom: 20px;
    color: var(--cor5);
}
header #subtitulo{
    font-size: 1.2em;
}


/*Principal*/

main{
    background-color: white;
}
section{
    padding: 0px 10px 40px 10px;
    min-height: var(--tam1);
}
section#objetivos{
    display: none; /*block*/
    padding: 20px 0px 0px 0px;
    
}
div.conteiner{
    background-color: white;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
ul{
    padding: 10px;
    margin: 20px;
}

/*Sobre Tecmit e Projetos*/
aside{
    color: white;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.748) , rgba(123, 0, 255, 0.696), var(--cor1), rgb(33, 222, 255));
    padding: 5px;

    display: none; /*  Flex  */ 
    flex-flow: row wrap;
    justify-content: center;
}
h2{
    position: relative;
    font: bold 2em Verdana;
    border: 1px solid rgba(0, 64, 255, 0.177);
    color: white;
    background-color: var(--cor2);
    padding: 10px 0px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.367);
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}
h2:hover{
    background-color: #1E60B6;
    font-size: 2.1em;
}
h2:active{
    background-color: #304561;
    font-size: 2.3em;
}
aside p{
    text-align: justify;
    padding: 10px;
    color: black;
    background-color: white;    
    width: 90%;
    max-width: 400px;
    font-size: 1.2em;
    margin: 0px 10px;
}

aside#projetos{
   background: linear-gradient(45deg, rgba(255, 0, 0, 0.748) , rgba(123, 0, 255, 0.696), var(--cor1), rgb(33, 222, 255));
    
   display: none; /*  flex  */
   flex-flow: row wrap;
   justify-content: center;
}

/*Artigo ou frase*/
article{
    min-height: 60px;
    text-align: center;
    padding: 35px;
    line-height: 40px;
}
article p{
    margin-top: 1em;
    font: bold 1.5em arial, verdana, helvetica, sans-serif;
    color: var(--cor5);
}

/*Rodapé*/

footer{
    color: white;
    background-color: var(--cor5);
    padding: 5px;
    font: normal 1em verdana, helvetica, sans-serif;
    text-align: center;
}
footer p{
    line-height: 70px;
}
footer a{
    color: white;
}